/venv/
/Wav2Lip/
/wave2lip/
/checkpoints/lipsync_expert.pth
/data/face_detection/detection/sfd/s3fd.pth
/checkpoints/wav2lip.pth
/checkpoints/wav2lip_gan.pth
/data/face_detection/detection/sfd/s3fd.pth
/checkpoints/visual_quality_disc.pth
/data/original_data/*
/data/preprocessed_root/*
/savedmodel/
